<style>
   .contect
   { padding= 23px;
    left: underline 32px;-offset: ;
   background-image:blue  ();
   font-size: 12px;
   text-align: center;<!-- corner,-->
   font-family:  'Courier New', Courier, monospace;
   
   }
   .a{color: orange;
   border-color:greenyellow ;
   font-family:  'Courier New', Courier, monospace;
   border-width: thin;
   border: size 34px;;
   background-size: 300px 100px;
   position: relative;
   text-align: center;
  }
   .A{
    padding=40px;
    margin: 20px;
   }
   .td{padding= 23px;
    left: underline 50px;-offset: ;
   background-image:blue  ();
   font-size: 25px;
   font-family:  'Courier New', Courier, monospace;
   border-style: solid;
   margin: 20px
   position: relative;
   }
   .B{
     style="font-size: ;123px";
    text-align="center";
    font-family:  'Courier New', Courier, monospace;
    margin: 20px;
    text-align: center; 
    position: relative;
   }
   .aboutus{
    font-size: 50px;
    text-align: center; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
   }
   .body
   {background-color: aqua;
   }

   </style>